.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Set the container to full viewport height */

  background-image: url('../../assets/gradienbg.jpg');
}

.surface-card {
  max-width: 600px;
  /* Adjust the width as needed */
}