  <div class="container">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-5">
        <h2>Sign Up</h2>
      </div>
      
      <form [formGroup]="form" (ngSubmit)="signUp(form.value)">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <div>
            <label for="name" class="block text-900 font-medium mb-2">first_name</label>
            <input id="name" type="text" formControlName="first_name" placeholder="Full Name" [class.is-invalid]="
            (form.controls['first_name'].touched &&
              form.controls['first_name'].invalid)" pInputText class="w-full mb-3">
            <div *ngIf="form.controls['first_name'].touched &&
              form.controls['first_name'].invalid">
              <small class="error"
                *ngIf="form.controls['first_name'].errors?.['required']">
                required
              </small>
            </div>
          </div>
          <div>
            <label for="name" class="block text-900 font-medium mb-2">date_of_birth</label>
            <input id="name" type="text" formControlName="date_of_birth" placeholder="Full Name" [class.is-invalid]="
            (form.controls['date_of_birth'].touched &&
              form.controls['date_of_birth'].invalid)" pInputText class="w-full mb-3">
            <div *ngIf="form.controls['date_of_birth'].touched &&
              form.controls['date_of_birth'].invalid">
              <small class="error"
                *ngIf="form.controls['date_of_birth'].errors?.['required']">
                required
              </small>
            </div>
          </div>
          <div>
            <label for="name" class="block text-900 font-medium mb-2">mobile_no</label>
            <input id="name" type="text" formControlName="mobile_no" placeholder="Full Name" [class.is-invalid]="
            (form.controls['mobile_no'].touched &&
              form.controls['mobile_no'].invalid)" pInputText class="w-full mb-3">
            <div *ngIf="form.controls['mobile_no'].touched &&
              form.controls['mobile_no'].invalid">
              <small class="error"
                *ngIf="form.controls['mobile_no'].errors?.['required']">
                required
              </small>
            </div>
          </div>
          <div>
            <label for="name" class="block text-900 font-medium mb-2">last_name</label>
            <input id="name" type="text" formControlName="last_name" placeholder="Full Name" [class.is-invalid]="
            (form.controls['last_name'].touched &&
              form.controls['last_name'].invalid)" pInputText class="w-full mb-3">
            <div *ngIf="form.controls['last_name'].touched &&
              form.controls['last_name'].invalid">
              <small class="error"
                *ngIf="form.controls['last_name'].errors?.['required']">
                required
              </small>
            </div>
          </div>
        </div>
        
        <label for="accountType" class="block text-900 font-medium mb-2">Company </label>
        <select id="accountType" formControlName="company_name" (change)="selectCompany($event)"  [class.is-invalid]="
        (form.controls['company_name'].touched &&
          form.controls['company_name'].invalid)"  placeholder="Select from below" pInputText class="w-full mb-3">
          <option value="Nstarx">Nstarx</option>
          <option value="Others">Others</option>
        </select>
        <div *ngIf="form.controls['company_name'].touched &&
          form.controls['company_name'].invalid">
          <small class="error"
            *ngIf="form.controls['company_name'].errors?.['required']">
            required
          </small>
        </div>
        
        <label for="email" class="block text-900 font-medium mb-2">Email</label>
        <input id="email" type="text"   [(ngModel)]="defaultEmailDomain" formControlName="email" placeholder="Email address"  [class.is-invalid]="
        (form.controls['email'].touched &&
          form.controls['email'].invalid)" pInputText class="w-full mb-3">
        <div *ngIf="form.controls['email'].touched &&
          form.controls['email'].invalid">
          <small class="error"
            *ngIf="form.controls['email'].errors?.['required']">
            required
          </small>
          <small class="error"
            *ngIf="form.controls['email'].errors?.['pattern']">
            Please enter a valid email.
          </small>
        </div>
        
        <label for="password" class="block text-900 font-medium mb-2">Password</label>
        <input id="password" type="password" formControlName="password"  [class.is-invalid]="
        (form.controls['password'].touched &&
          form.controls['password'].invalid)" placeholder="Password" pInputText class="w-full mb-3">
        <div *ngIf="form.controls['password'].touched &&
          form.controls['password'].invalid">
          <small class="error"
            *ngIf="form.controls['password'].errors?.['required']">
            required
          </small>
          <small class="error"
            *ngIf="form.controls['password'].errors?.['pattern']">
            Please enter at least a minimum 8-letter password, with at least a symbol, upper and lower case letters, and a number.
          </small>
        </div>
        
        <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirm Password</label>
        <input id="confirmPassword" type="password" formControlName="confirm_password" placeholder="Confirm Password" [class.is-invalid]="
        (form.controls['confirm_password'].touched &&
          form.controls['confirm_password'].invalid)" pInputText class="w-full mb-3">
        <div *ngIf="form.controls['confirm_password'].touched &&
          form.controls['confirm_password'].invalid">
          <small class="error"
            *ngIf="form.controls['confirm_password'].errors?.['required']">
            required
          </small>
        </div>
        
        <div class="error" *ngIf="form.errors?.['PasswordNoMatch']">
          Password doesn't match.
        </div>
        <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
        
        <button pButton pRipple label="Sign Up" class="w-full"></button>
      
    </form>
  </div>
