<!-- forgot-password.component.html -->
<div class="container">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-5">
        <h2>Forgot Password</h2>
      </div>
      
      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div>
          <label for="currentPassword" class="block text-900 font-medium mb-2">Current Password</label>
          <input id="currentPassword" type="password" formControlName="currentPassword" placeholder="Current Password" pInputText class="w-full mb-3">
  
          <label for="newPassword" class="block text-900 font-medium mb-2">New Password</label>
          <input id="newPassword" type="password" formControlName="newPassword" placeholder="New Password" pInputText class="w-full mb-3">
  
          <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password" pInputText class="w-full mb-3">
  
          <button pButton pRipple label="Reset Password" class="w-full"></button>
        </div>
      </form>
    </div>
  </div>
  