<div class="bg-img">
  <div class="content">
    <header class="header">Edit Profile</header>
    <form [formGroup]="form" (ngSubmit)="updateProfile()">
      <div class="form-fields">
        <div class="field space">
          <span class="fa fa-user"></span>
          <input id="name" type="text" formControlName="name" placeholder="Full Name" required>
        </div>
        <div class="field space">
          <span class="fa fa-envelope"></span>
          <input id="email" type="text" formControlName="email" placeholder="Email address" required>
        </div>
        <div class="field space">
          <span class="fa-solid fa-building"></span> 

          <input id="mobile" type="text" formControlName="mobile" placeholder="Mobile number" required>
        </div>
        <div class="field space">
          <span class="fa fa-house"></span>
          <select id="accountType" formControlName="Company" placeholder="Select from below" required>
            <option value="Nstarx">Nstarx</option>
            <option value="Others">Others</option>
          </select>
        </div>
        <div class="field space">
          <span class="fa fa-lock"></span>
          <input id="password" type="password" formControlName="password" placeholder="Password" required>
        </div>
        <div class="field space">
          <span class="fa fa-lock"></span>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <div class="space">
          <button class="add-button" type="submit">Update Profile</button>
        </div>
      </div>
    </form>
  </div>
</div>
