<header class="header">
      
 <div class="logx" > <span><img src="../../assets/homepagebackground.png" alt="Image" height="30px" width="30px" class="mb-3"></span><a  class="logo  peak">PeakPerformX</a></div>
    <nav class="nav-items">
      <a >Home</a>
      <a routerLink="/edit" >Profile</a>
      <div routerLink="/login" (click)="logout()" ><i class="fa-solid fa-power-off"></i></div>
      
    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>PeakPerformX</h1>
      <p>With PeakPerformX we strive to deliver better performance of your application through testing.
        in this place.</p>
      
    </div>
    <div class="achievements">
      <div class="work">
        <a routerLink="/projects"> <i  class="fas fa-atom"></i></a>
        <p class="work-heading">Projects</p>
        <p class="work-text">Click to see the list of projects or Add project.</p>
      </div>
      <div class="work">
      <a routerLink="/results">  <i class="fa-solid fa-square-arrow-up-right"></i></a>
        <p class="work-heading">Results</p>
        <p class="work-text">See the results of the projects tested.</p>
      </div>
      
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Us</h2>
        <p>With PeakPerformX we strive to deliver better performance of your application through testing.
          in this place.</p>
      </div>
      <img src="../../assets/aboutus.jpg" alt="me">
    </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; 2022 Nstarx</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a >Home</a>
        <a >About</a>
        <a >Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a ><i class="fab fa-facebook"></i></a>
        <a ><i class="fab fa-twitter"></i></a>
        <a ><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>